{% extends 'base.html.twig' %}

{% block title %}New HomePage{% endblock %}

{% block content %}
    <h1>Créer une nouvelle page d'accueil</h1>

    {{ include('home_page/_form.html.twig') }}

  <p>  <a href="{{ path('home_page_index') }}">Retour à la liste</a></p>
       

{% endblock %}
