{% extends 'base.html.twig' %}

{% block title %}New Aside{% endblock %}

{% block content %}
    <h1>Créer un nouvel à-côté</h1>

    {{ include('aside/_form.html.twig') }}

    <a href="{{ path('aside_index') }}">Retour à la liste</a>
   
{% endblock %}
