{% extends 'base.html.twig' %}

{% block title %}New Aside{% endblock %}

{% block body %}
    <h1>Create new Aside</h1>

    {{ include('aside/_form.html.twig') }}

    <a href="{{ path('aside_index') }}">back to list</a>
{% endblock %}
