{% extends 'base.html.twig' %}

{% block title %}Nouvelle Image{% endblock %}

{% block body %}
    <h1>Télécharger une image et l'enregistrer</h1>
  

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('image_index') }}">retour à la liste</a>
{% endblock %}
