{% extends 'base.html.twig' %}

{% block title %}Edit Section{% endblock %}

{% block body %}
<article>
    <h1>Modifier</h1>
<p>
    {{ include('section/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</p><p>
    <a href="{{ path('section_index') }}">retour à la liste</a>
</p><p>
    {{ include('section/_delete_form.html.twig') }}
    </p>
    </article>
{% endblock %}
