{% extends 'base.html.twig' %}

{% block title %}New Section{% endblock %}

{% block body %}
    <h1>Créer une nouvelle section d'article</h1>

    {{ include('section/_form.html.twig') }}

    <a href="{{ path('section_index') }}">retour à la liste</a>
{% endblock %}
