@import 'couleurs';
@import 'jeu';

#main {
	
	
	justify-content: space-around;
	align-items: center;
}

.supertitre
{
	color: $title1; 
		text-align:left; 
		font-size:20px; 
		font-variant:small-caps;
}

article {
		display:block; 
		padding: 30px; 
		width: 100%;

	

		h1 {
			color: $title1; 
			text-align:center; 
			font-size:30px; 
			font-family: $fonth1;
			font-variant:small-caps;
		}

		h2 {
			color: $title2; 
			text-align:center; 
			font-family: $fonth2;
			font-size:24px; 
		}
		div.bicol {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 90vw;
			div {
				width: 500px;
				padding:25px;
			}
		}

		h3 {
			color: $title2; 
			text-align:justify; 
			font-family: $fonth3;
			font-size:20px;
		}

		a {
			color: $links;
			:visited {
				color:$visited;
			}
		}

		p {
			color: $textcolor;
			text-align:justify; 
			font-size:16px; 
			font-family:$principale
		}

		figure {
			padding: 0; 
			margin:0;

			img {
				border:0; 
				max-width:100%; 
			}

			figcaption {
				font-family:$principale; 
				text-align:center; 
				font-size:14px; 
				font-style:italic;
			}
		}

}

		
@media all and (max-width: 1024px)
{

	article {  
			width:100%; 
			padding: 15px;
	}

	img {
		max-width: 90vw;
	}
	div.bicol {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		div {
			width: 300px;
			padding: 20px;
		}
	}
}

	


