@import 'variables';

#main {
	flex-grow: 2;
}

.supertitre
{
	color: $bay; 
		text-align:left; 
		font-size:20px; 
		font-variant:small-caps;
}

article {
		display:block; 
		flex-grow: 2;
		max-width:650px;
		padding: 30px; 

	

		h1 {
			color: $bay; 
			text-align:center; 
			font-size:30px; 
			font-variant:small-caps;
		}

		h2 {
			color: $bay; 
			text-align:justify; 
			font-size:24px; 
		}

		h3 {
			color: $dark; 
			text-align:justify; 
			font-size:20px;
		}

		a {
			color: $dark;
		}

		p {
			color: $dark;
			text-align:justify; 
			font-size:16px; 
			font-family:$principale
		}

		figure {
			padding: 0; 
			margin:0;

			img {
				border:0; 
				max-width:100%; 
			}

			figcaption {
				font-family:$principale; 
				text-align:center; 
				font-size:14px; 
				font-style:italic;
			}
		}

}

		
@media all and (max-width: 900px)
{

	article {  
			width:100%; 
			padding: 15px;
	}

	img {
		max-width: 90vw;
	}
		
}



