@import 'couleurs';
@import 'polices';



aside {
	flex-grow: 1;
	background-color: $aside;
	color: $coloraside;
	font-family: $principale;
	height: 300px;
	display:block;
	padding: 30px;
	padding-top: 50px;
	
}

a {
	text-decoration: none;
	color: $coloraside;
	padding:10px;
}

#me {
	margin: 50px; 
}
h2 {
	color: $colortextaside;
	font-family: fonth2;
}


@media all and (max-width: 900px)
{
	aside {
		width:100%; 
		padding: 15px;
	}

}



