@import 'couleurs';
@import 'polices';
@import 'sommaire';
@import 'article_flex';
@import 'aside';
@import 'footer';
@import 'jeu';
@import 'slide';

html {
	height: 100%;
}

body {
	position: relative; 
	min-height: 100%; 
	background-color: $bgcolor; 
	color: $textcolor; 
	font-family:$principale; 
	text-align:justify; 
	font-size:16px; 
	margin:0; 
	padding-bottom:100px;
}

* {
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

#conteneur
{
    
	width: 100vw;
	display:flex;
	flex-direction: row;
	justify-content: space-between;

}
@media all and (max-width: 900px)
{

	body {
		position: relative; 
		min-height: 100%; 
		background-color: $bgcolor; 
		color: $textcolor; 
		font-family:$principale; 
		text-align:justify; 
		font-size:16px; 
		margin:0; 
		padding-bottom:0px;
	}

	#conteneur
	{
		display:flex;
		flex-direction: column;
		align-items:center;
		justify-content: space-between;
		width: 100%;

	}

	

}