{% extends 'base.html.twig' %}

{% block title %}Edit Foot{% endblock %}

{% block content %}
    <h1>Modifier le pied de page</h1>

    {{ include('foot/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

   <p> <a href="{{ path('foot_index') }}">Retour à la liste</a></p>

    {{ include('foot/_delete_form.html.twig') }}
{% endblock %}
