{% extends 'base.html.twig' %}

{% block title %}New Foot{% endblock %}

{% block body %}
    <h1>Créer un nouveau pied de page</h1>

    {{ include('foot/_form.html.twig') }}

    <a href="{{ path('foot_index') }}">Retoir à la liste</a>
{% endblock %}
