<div class="element" id="acote"><aside class="acote">
<h2>Voir les pages générées</h2>
<p> <a href="{{ path('generated_index') }}">Site local</a></p>
<p><a href="{{ path('online_index') }}">Site en ligne</a></p>
</aside>
</div>