{% extends 'base.html.twig' %}

{% block title %}Nouveau Carrousel{% endblock %}

{% block content %}
    <h1>Créer un nouveau carrousel</h1>

    {{ include('slider/_form.html.twig') }}
    

    <a href="{{ path('slider_index') }}">Retour à la liste</a>
   
{% endblock %}
