{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Modifier</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('article_index') }}">retour à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
